<footer class="w-100 p-3 bg-dark text-light">
  <hr>
  <p class="text-center">© 2018 - Martins Galvão Construtora 
    · <a routerLink="/seja-um-fornecedor" class="text-light"><strong>Seja fornecedor</strong></a>
    · <a routerLink="/venda-seu-terreno" class="text-light"><strong>Venda seu terreno</strong></a>
    · <a routerLink="/trabalhe-conosco" class="text-light"><strong>Trabalhe Conosco</strong></a>
    · <a routerLink="/sac" class="text-light"><strong>SAC</strong></a>
    · <a routerLink="/fale-conosco" class="text-light"><strong>Contato</strong></a>
  </p>
</footer>