<header>
    <nav class="navbar navbar-expand-lg navbar-light text-light">
        <a class="navbar-brand" routerLink="/">
            <img src="/assets/images/logo-predios.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Martins Galvão Construtora
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/quem-somos">Quem somos</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/promocoes">Promoções</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Portifólio
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" routerLink="/">Residencias</a>
                        <a class="dropdown-item" routerLink="/">Reformas</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/servicos">Serviços</a>
                </li>
                <!--<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Serviços
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" routerLink="/">Construções</a>
                        <a class="dropdown-item" routerLink="/">Projetos</a>
                        <a class="dropdown-item" routerLink="/">Consultoria</a>
                        <a class="dropdown-item" routerLink="/">Gerenciamento</a>
                        <a class="dropdown-item" routerLink="/">Incorporações</a>
                    </div>
                </li>-->
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <h6 class="navbar-nav" style="margin-right:10px">
                    <span style="padding-right:10px"><i class="fa fa-phone"></i>(12) 3456-7890</span>
                    <span><i class="fa fa-envelope"></i>contato@email.com</span>
                </h6>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Portal do cliente</button>
            </form>
        </div>
    </nav>
</header>