<div class="container-fluid">
  <!-- insere a galeria -->
  <app-gallery></app-gallery>

  <!-- informações do imovel -->
  <div class="row mt-5">
    <div class="col-9"></div>
    <div class="col-4">
      <figure class="col-sm-3">
        <img class="rounded bg-dark" src="https://via.placeholder.com/226x228">
      </figure>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col text-justify">
          <h4 class="row">
            RESIDENCIAL JARDIM GLÓRIA
          </h4>
          Excelente localização no Bairro Glória, entre a Rua Augusto Souza Coutinho
          e Rua Galba, próximo ao Bairro Alípio de Melo, na divisa do
          Alvaro Camargos. Um MR Flex 2 Quartos com 2 vagas, Salão
          de Festas e área externa arborizada. E você ainda pode optar por
          4 ótimas coberturas ou 4 áreas privativas.
        </div>
      </div>
      <button type="button" class="btn btn-primary mt-5"><i class="fa fa-headphones fa-2x"></i> PARA PREÇO E CONDIÇÕES
        CONSULTE-NOS</button>
    </div>
  </div>

  <!-- imagens e fotos -->
  <div class=" container row mt-5">
    <div class="mt-5">
      <app-images-fotos></app-images-fotos>
    </div>
    <div class="mt-5">
      <app-plantas></app-plantas>
    </div>
  </div>
</div>

<!--
  dados ok
  imagens 
  plantas
  estagio
  mapa
-->