<div class="container mb-5">
  <app-jumbotron></app-jumbotron>

  <div class="col-md-8 blog-main">
    <h3 class="pb-3 mb-4 font-italic border-bottom"></h3>

    <div class="blog-post" *ngFor="let sConstrucao of objConstrucao">
      <h2 class="blog-post-title"><strong>CONSTRUÇÕES</strong></h2>
      <p>{{sConstrucao.body}}</p>
    </div>
    
    <div class="blog-post" *ngFor="let sProjeto of objProjeto">
      <h2 class="blog-post-title"><strong>PROJETOS</strong></h2>
      <p>{{sProjeto.body}}</p>
    </div>
    
    <hr>
    <div class="blog-post" *ngFor="let sConsultoria of objConsultoria">
      <h2 class="blog-post-title"><strong>CONSULTORIA</strong></h2>
      <p>{{sConsultoria.body}}</p>
    </div>
    
    <hr>
    <div class="blog-post" *ngFor="let sGerenciamento of objGerenciamento">
      <h2 class="blog-post-title"><strong>GERENCIAMENTO</strong></h2>
      <p>{{sGerenciamento.body}}</p>
    </div> 

    <hr>
    <div class="blog-post" *ngFor="let sIncorporacao of objIncorporacao"> 
      <h2 class="blog-post-title"><strong>INCORPORAÇÕES</strong></h2>
      <p>{{sIncorporacao.body}}</p>
    </div>
  </div>
</div>