<app-filtro></app-filtro>

<div class="card-columns">
  <div class="card">
    <img class="card-img-top" src="/assets/images/casa01.jpg" width="354" height="199" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><a routerLink="/empreendimento">Residencial Ipê I</a></h5>
      <p class="card-text">Ótima oportunidade de compra. Condomínio com água, luz e próximo ao centro.
        Casas á partir de R$ 400 mil reais.
      </p>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="/assets/images/casa.jpg" width="354" height="199" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><a routerLink="">Residencial Alabama I</a></h5>
      <p class="card-text">Ótima oportunidade de compra. Condomínio com água, luz e próximo ao centro.
        Casas á partir de R$ 150 mil reais.
      </p>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="/assets/images/casa03.jpg" width="354" height="199" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><a routerLink="">Residencial Alabama II</a></h5>
      <p class="card-text">Condomínio com CTV, guarda e guarita 24h por dia. Veja as opções </p>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="/assets/images/casa04.jpg" width="354" height="199" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><a routerLink="">Residencial Ipê I</a></h5>
      <p class="card-text">Requinte e luxo para todos. Casas com desconto de 50% no financiamento</p>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="/assets/images/casa05.jpg" width="354" height="199" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><a routerLink="">Residencial Ipê II</a></h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.
        This content is a little bit longer.</p>
    </div>
  </div>
</div>