<!-- INÍCIO DO CONTEÚDO -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <app-gallery></app-gallery>
        </div>
    </div>
    <hr>
    <div class="container">
        <app-home-conteudo></app-home-conteudo>
    </div>
    <div class="row">
       <!-- <div class="col-md-6">
            <app-onde-estamos></app-onde-estamos>
        </div>
        <div class="col-md-6">
            <app-fale-conosco></app-fale-conosco>
        </div>
    -->
    </div>
</section>
<!-- FIM DO CONTEÚDO -->