<!-- INÍCIO ONDE ESTAMOS -->
<div class="card">
    <h4 class="card-header bg-secondary text-white"><i class="fa fa-map-marker fa-lg mr-2"></i>Onde Estamos?</h4>
    <div class="card-body">
        <p class="card-text">
            <i class="fa fa-map-o mr-2"></i><strong>Endereço:</strong> Av. Dom Luis Maria de Santana, 178 - Sala 04
        </p>
        <p>
            <i class="fa fa-map-o mr-2"></i><strong>Bairro:</strong> Mercês - Uberaba/MG
        </p>
        <p class="card-text">
            <i class="fa fa-phone mr-2"></i><strong>Telefone:</strong> (34) 3338-3942
        </p>
        <p class="card-text">
            <i class="fa fa-envelope-o mr-2"></i><strong>E-mail:</strong> vendas@martinsgalvaoconstrutora.com.br
        </p>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3755.170515302968!2d-47.953292685523735!3d-19.74790873777134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94bad1b27bb49fbd%3A0x611773b2f5f552b3!2sAv.+Dom+Lu%C3%ADz+Maria+de+Santana%2C+178+-+Merc%C3%AAs%2C+Uberaba+-+MG%2C+38061-080!5e0!3m2!1spt-BR!2sbr!4v1511822125718"
                class="embed-responsive-item" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>
<!-- FIM ONDE ESTAMOS -->